@import '~bootstrap/dist/css/bootstrap.css';

#userSignalForTalking {
  max-width: 10px;
  max-height: 1vh;
}

#root{
  height: 100vh;
}

.Mic {
  max-width:4.5vh;
  max-height:4.5vh;
}

.App {
  height: 92.5vh;
  margin: auto;
  background:blue url('../img/background.jpg') center;
  background-size: auto;
  background-color: transparent;
}

.MissionStatement {
  margin: 0;
  color:violet;
  background-color: hsl(300, 24%, 80%, 0.5);
  background-color: 50%;
}

.Dashboard {
  margin: auto;
  color: black;
  background-color: hsl(36, 100%, 90%, .7);
}

.height-full {
  height: 92.5vh;
}